.card-body{

background-color: #4AAAA5;
color: white;
text-align: center;

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
    padding-top: 10px;
    border-top: 4px solid#4AAAA5;

 }

 .greeting {
     text-align: center;
     font-size: 56px;
 }

 .body {
     background-image: url('./images/double-bubble-outline.jpg');
 }

 #about {
    background-color: white;
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 3%;
    
    
 }

 .myself {
     text-align: left;
     color: #4AAAA5;
     
 }

 hr {
     color: lightgray;
 }

 .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 40%;
 }
 p {
     text-align: center;
     color: gray;
     font-size: 1.5em;
 }

 html {
    height: 100%;
}
body {
    height: 95%;
}

/* contact page css below */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4AAAA5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #4AAAA9;
  }
  
  .container {
    border-radius: 5px;
    background-color: white;
    padding: 10px;
  }

  /* portfolio styling */

.aligncenter {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.portim {
    display: block;
    height: 450px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;

}

.text-block {
    position: relative;
    bottom: 40px;
    width: 100%;
    background-color: #4AAAA5;
    color: white;
    text-align:center;
  }